.container{
  width: 86%;
  margin: auto;
}

    .game{
      margin-top: 10px;
      margin-bottom: 50px;
    }
    .game-inner{
      
      border-radius: 4px 4px 10px 10px;
      margin-left: 3px;
      margin-right: 3px;

    }
    .game-inner .thumbnail{
      border-radius: 10px 10px 0px 0px;
      height: 225px;
      border: none;
      margin-bottom: 0px!important;
      padding: 0px !important;
      overflow: hidden;
      
    }

    .thumbnail .img-hidden {
      overflow: hidden;
    }
    .img-hidden img{
      max-height: 225px;
       transition: all .8s ease;
       display: block;
    }
    .img-hidden img:hover {
      transform: scale(1.1);
    }
    .game-inner .content{
      border: 1px solid #d9d9d9;
      border-radius: 0 0 10px 10px;
      padding: 12px;
      font-family: inherit;
    }
    #text_area{
      height: 160px;
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }

    #price_area{
      display: flex;
    }

    #price_area i{
      color: white;
    }

    .title{
      min-height: 40px;
      padding-top: 5px;
      font-size: 18px;
      color: #262626;
      border-bottom: 1px solid transparent;
      font-weight: 600;
    }

    .btn_addToCart{
      background: #fd8c13;
      color: white;
      margin-top: 5px;
    }

    .price{
      color: #ff8917;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      padding-left: 0px !important;
    }

    .price span{
      color: #ccc!important;
      font-size: 14px!important;
      margin-left: 5px;
      margin-top: 5px;
    }

    #btn_minus{
      height: 28px;
      border-radius: 5px 0 0 5px;
      margin-right: -5px !important;
    }

    #btn_add{
      height: 28px;
      border-radius: 0 5px 5px 0;
      margin-left: -5px !important;
    }

    .quantity_area input{
      padding-top: 0px !important;
      width: 50px;
      height: 28px;
      text-align: center;
      font-weight: bold;
    }