*{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
  width: 86%;
  margin: auto;
}

#header{
    background-color: rgb(83, 163, 163);
}

#menu{
    background: rgb(219 231 247);
}
#mid {
    color: #eb73c0;
    padding-top: 10px;
}
#mid a {
    color: #eb73c0;
 }


nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    padding: 10px;
    display: block;
    margin-top: -10px;
}
nav ul{
    float: right;
    list-style: none;
    margin-top: 20px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    margin: 0 5px;
    padding-left: 5px;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding-right: 25px;
}

nav ul ul{
    border-top: 3px solid #41adad;
    position: absolute;
    top: 130px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    background: white ;
}
nav ul li:hover > ul{
    top: 42px;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

nav ul ul li{
    position: relative;
    margin:0px;
    width:150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid grey;
    margin-left: -40px;
    padding-left: 5px;
}
nav ul ul li a{
    line-height: 50px;
    color:  black;
}


#cart{
    height: 30px;
    font-size: 30px;
    text-align: left;
    background: #fae4c0;
}

#showData img{
transform: scale(1);
transition: all 0.5s;
}
#showData img:hover {
transform: scale(1.1);
}}


#login_group{
    padding: 0px;
}

#login_group ul li{
    line-height: 35px;
    margin-right: 10px;
    margin-left: 10px;
}
#btn_user{
    background: transparent;
}
#btn_user:hover{
    background:#cee4e8;
}

#cart img {
    transform: scale(1);
    transition: all 0.5s;
}
#cart img:hover {
    transform: scale(1.1);
}

#popup:hover{
    cursor: pointer;
}

