**{
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(83, 163, 163);
}

#menu{
    background: rgb(219 231 247);
}
#mid {
    color: #eb73c0;
    padding-top: 10px;
}
#mid a {
    color: #eb73c0;
 }


nav{
    
    height: 60px;
}
nav ul{
    display: flex;
    padding-bottom: 0px;
    padding-left: 0px;
}
nav ul li{

    list-style: none;
   z-index: 100;
   border-right: 1px dotted white;
}
nav ul li a{
    display: block;
    padding:0 25px;
    line-height: 60px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
nav ul li:first-child {
    border-left: none; 
}
nav ul li:hover a{
    background:#04B173;
    color: white;
}
nav li ul{
    display: none;
    min-width: 350px;
    position: absolute;
    padding-left: 0px;
}
nav li ul li{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #88b3ab;
    text-align: left;
}

nav li:hover ul{
    display: block;
}


#cart{
    height: 30px;
    font-size: 30px;
    text-align: left;
    background: #fae4c0;
}

#showData img{
transform: scale(1);
transition: all 0.5s;
}
#showData img:hover {
transform: scale(1.1);
}}

#optionGroup{
    border:1px solid black;
    display: flex;
    padding-right: 0px;
     
}
#login_group{
    padding: 0px;
}

#login_group ul li{
    line-height: 35px;
    margin-right: 10px;
    margin-left: 10px;
}
#btn_user{
    background: transparent;
}
#btn_user:hover{
    background:#cee4e8;
}

#cart img {
    transform: scale(1);
    transition: all 0.5s;
}
#cart img:hover {
    transform: scale(1.1);
}

#popup:hover{
    cursor: pointer;
}